@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  background-color: #fdecce;
  border-bottom: 15px solid #edc84b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.header h1 {
  color: #edc84b;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menu h2 {
  padding: 10px;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  align-self: center;
}

.menuParagraph {
  font-size: 13px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

.pizzas {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pizza {
  display: flex;
  gap: 25px;
}

.pizza img {
  width: 130px;
  height: 130px;
  aspect-ratio: 1;
  border-radius: 12px;
}

.pizza h3 {
  font-size: 15px;
  font-weight: 400;
}

.pizza p {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

.soldOut {
  color: #888;
}

.soldOut img {
  filter: grayscale();
  opacity: 0.8;
}

.pizzaData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #edc84b;
  color: black;
  font-family: "Roboto Mono", sans-serif;
  width: 150px;
  border-color: #edc84b;
}

@media (min-width: 600px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .header h1 {
    font-size: 55px;
  }

  .menu h2 {
    font-size: 25px;
  }

  .menuParagraph {
    font-size: 16px;
    width: 500px;
    align-self: center;
  }

  .pizza img {
    width: 150px;
    height: 150px;
  }

  .pizza h3 {
    font-size: 20px;
  }

  .pizza p {
    font-size: 17px;
  }

  .footer {
    font-size: 12px;
  }
}

@media (min-width: 935px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .header h1 {
    font-size: 75px;
  }

  .menu h2 {
    font-size: 30px;
  }

  .menuParagraph {
    font-size: 22px;
    width: 600px;
  }

  .pizzas {
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pizzaData {
    width: 250px;
  }

  .button {
    padding: 15px;
    width: 250px;
    font-size: 20px;
  }
}

@media (min-width: 1830px) {
  .container {
    gap: 60px;
  }

  .menu {
    gap: 55px;
  }

  .pizzas {
    max-width: 1800px;
  }

  .pizza img {
    width: 190px;
    height: 190px;
  }

  .pizza h3 {
    font-size: 25px;
  }

  .pizza p {
    font-size: 20px;
  }
}
